<h2> Categories </h2>

<div class="row">
  <% categorys.forEach(function(category){ %>

  <div class="col-lg-4">
    <img src="<%= category.categoryImg %>" alt="<%= category.name %>" class="bd-placeholder-img rounded-circle" width="140" height="140">
    <h5 class="fw-normal"><a href="/category/detail?id=<%= category._id %>" > 
      <%= category.name %> 
    </a></h5>
    <% if(user) { %>
      <% if(user.isAdmin ) { %>
        <a href="/category/delete?id=<%= category._id%>">Delete</a>
        <a href="/category/edit?id=<%= category._id%>"> - Edit</a>
      <% } %>
    <% } %>
  </div><!-- /.col-lg-4 -->
  <% }) %> 
</div>
