<div class="center">
  <div >
    <h3><%= place.name %></h3>
  </div>
</div>

<br>

<div class="photo">
  <div>
    <p><%= place.content %></p>
  </div>
</div>

<!-- Reviews -->
<div>
  <div>
    <p>
      <% if (reviews && reviews.length > 0) { %>
        <% reviews.forEach(function(review) { %>
          <!-- Display review details -->
          <p>
            <strong>User:</strong>
            <% if (review.reviewerName) { %>
              <%= review.reviewerName %><br>
            <% } else { %>
              User information not available<br>
            <% } %>
            <strong>Review:</strong> <%= review.reviewContent %><br>
          </p>
        <% }); %>
      <% } else { %>
        <!-- else no reviews found -->
        No reviews available.
      <% } %>
    </p>
  </div>
</div>

<% if (user && user._id) { %>
  <form method="POST" action="/review/add" enctype="multipart/form-data">
    <input type="hidden" name="placeID" value="<%= place._id %>"/>
    <input type="hidden" name="userID" value="<%= user._id %>"/>

    <div>
      <label> Review </label>
      <input type="text" name="reviewContent" class="form-control bg-dark text-light"/>
      <label>Review Picture:</label>
      <img src="<%= review.reviewImg %>"><br>
      <input type="file" name="reviewImg">
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Add Review</button>
  </form>
<% } else { %>
  <!-- else user not logged in -->
  <p>Login to add a review.</p>
<% } %>

<br>

<% place.category.forEach(function(category) { %>
  <hr>
  <div>
    <div class="category">
      Category: <a href="/category/detail?id=<%= category._id %>"><%= category.name %></a>
    </div>
  </div>
<% }) %></br>
