<div>
    <div>
      <h3><%= place.name %></h3>
    </div>
</div>

<br>

<div>
  <div>
    <p><%= place.content %></p>
  </div>
</div>

<div>
  <div>
    <p><%= place.review.forEach(function()) %></p>
  </div>
</div>
<div>

<form method="POST" action="/review/add">

    <div>
        <label> Review </label>
        <input type="text" name="reviewContent" class="form-control bg-dark text-light"/>
    </div>
       
    <br>
   <button type="submit" class="btn btn-primary">Add Review</button>
</form> 

</div>

<br>
<% place.category.forEach(function(category) { %>
<hr>


<div>
  <div class="category">Category: <a href="/category/detail?id=<%= category._id %>"><%= category.name %></div></a>
</div>

<% }) %></br>

