<h1>Places</h1>

<table class="table table-dark table-hover">
    <tr>
        <th>Name</th>
        <% if(user) { %>

                <% if(user.isAdmin ) { %>
 <th>Delete</th>
        <th>Edit</th>

            <% } %>
            <% } %>
       
    </tr>


    <% places.forEach(function(place) { %>
        <tr>
            <td>
                <a href="/place/detail?id=<%= place._id %>"> 
                    <%= place.name %> 
                </a> 
            </td>
            <% if(user) { %>

                <% if(user.isAdmin ) { %>

            <td>
            <form method="POST" action="/place/delete?id=<%= place._id %>&_method=delete">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            </td>

            <td>
            <form method="GET" action="/place/edit?id=<%= place._id %>">
                <input type="hidden" name="id" value="<%= place._id %>">
                <button type="submit" class="btn btn-secondary">Edit</button>
            </form>
            </td>
            <% } %>
            <% } %>
        </tr>
    <% }) %>
    

</table>