<h2>Places</h2>
<img class="divider" src="/images/divider.png">


<div class="row">
    <% places.forEach(function(place) { %>
        <div class="col-lg-3">
            <img src="<%= place.placeImg %>" alt="<%= place.name %>" class="bd-placeholder-img rounded-circle" width="180" height="180">
            <h5 class="fw-normal"><a href="/place/detail?id=<%= place._id %>"> 
                <%= place.name %> 
            </a></h5>
            <% if(user) { %>
                <% if(user.isAdmin ) { %>
                    <a href="/place/delete?id=<%= place._id %>">Delete</a>
                    <a href="/place/edit?id=<%= place._id %>"> - Edit</a>
                <% } %>
            <% } %>
        </div>
    </div>
    <% }) %>
</div>
